html {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  font-size: calc(15px + 0.390625vw);
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
